@charset="utf-8";
body {
	background-color:#fff;
	color:#000;
}
div {
	width:1000px;
	margin:auto;
}
p {
	text-align: justify;
	text-indent: 50px;
}
/*Formatação de imagens com legendas*/

figure.foto-legenda {
	position:relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	/*deslocamento horizontal, vertical, de espalhamento e cor.*/
}
figure.foto-legenda img {
	width: 100%;
	height:100%;	
}
figure.foto-legenda figcaption {
	opacity:0;
	position:absolute;
	top:0px;
	background-color:rgba(0,0,0,.4);
	color:#fff;
	width:100%;
	height:100%; 
	padding:10px;
	box-sizing: border-box;
	/*Cria um box dentro da borda; permite caber a imagem que estrapolou a borda. cv 10 - 12:10;*/
}
figure.foto-legenda:hover figcaption {
	opacity:1;
	transition: opacity 1s;
}







