@charset="utf-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
/* Importei esta fonte do Google fonts*/
@font-face {
	font-family: 'FonteLogo';
	src: url("../../assets/image/bubblegum-sans-regular.otf");
}

/* Fontes Próprias e repositórios públicos, ex: "google/fontes" CV 17 04:10 e 07:40; 
É possível importar fontes como do Google */

body {
	font-family: Arial, sans-serif;
	background-color:#ddd;
	color:#000;
}
div#interface {
	width:930px;
	margin:auto;
	background-color:#fff;
	margin: -20px auto 0px auto;
}
p {
	text-align: justify;
	text-indent: 50px;
}

a {
	color:#606060;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}
header#cabecalho img#icone {
	position: absolute;
	left:940px;
	top:45px;
}
header#cabecalho {
	border-bottom: 1px #606060 solid;
	height:150px;
	background: url("../../assets/image/glass-logo-peq.jpg") no-repeat 0px 80px;
}
header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding:0px;
	margin-bottom: 0px;
}
header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	color: #888
	font-size: 15px;
	padding:0px; 
	margin-top: 0px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*Formatação de imagens com legendas*/

figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	/*deslocamento horizontal, vertical, de espalhamento e cor.*/
}
figure.foto-legenda img {
	width: 100%;
	height:100%;	
}
figure.foto-legenda figcaption {
	opacity:0;
	position:absolute;
	top:0px;
	background-color:rgba(0,0,0,.4);
	color:#fff;
	width:100%;
	height:100%; 
	padding:10px;
	box-sizing: border-box;
	/*Cria um box dentro da borda; permite caber a imagem que estrapolou a borda. cv 10 - 12:10;*/
}
figure.foto-legenda:hover figcaption {
	opacity:1;
	transition: opacity 1s;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* Formatação de Menu */

nav#menu {
	display:block;
}
nav#menu ul {
	list-style:none;
	text-transform:uppercase;
	position:absolute;
	top:-20px;
	left:450px;
}
nav#menu li {
	display: inline-block;
	background-color:#ddd;
	padding:10px;
	margin:2px;
	transition: background-color 1s;
}
nav#menu li:hover {
	background-color:#606060;
 }

	/*transition está em fase de implementação e tem uma forma de manter a retro compatibilidade "burlar" para os
navegadores mais antigos,CV 14 07:00, 
site prefixr(Cross-Browser)*/

nav#menu h1 { 
	display:none;
}
#menu a { 
	text-decoration:none; 
}
#menu a:hover {
	 text-decoration:underline;
	 color:#fff; 
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
section#corpo {
	display: block;
	width: 490px;
	float:left;
	border-right: 1px solid #cecece;
	margin:12px;
	padding-right:12px;
}

article#noticia-principal h2 {
	font-size: 12pt;
	color: #606060;
	background-color: #ddd;
	padding:5px 0px 5px 0px;
	margin: 10px 0px 10px 0px;
}


header#cabecalho-artigo h1 {
	font-family: 'Fonte-Logo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom:0px;
	margin-top: 0px;
}

.direita {
	text-align:right;
	font-size:10px;
	margin-bottom:30px;
}

header#cabecalho-artigo h2 {
	font-size: 13pt;
	color: #cecece;
	background-color: #fff;
	margin: 0px;
}
header#cabecalho-artigo h3 {
	font-size: 12px;
	color: #606060;
}

table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	/*retira o espaço entre as celulas, ou seja une a lateral de uma borda com a lateral de outra borda*/
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td {
	border: 1px solid #606060;
	padding:10px;
	text-align:center;
	/*vertical-align: top; == alinha as palavras neste caso na parte superior da célula nela inserida*/
	vertical-align:top;
}
table#tabelaspec td.ce {
	color:#fff;
	background-color:#606060;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd {
	background-color:#cecece;
}

table#tabelaspec caption {
	color: #888;
	font-size: 14pt;
	font-weight: bolder;

}

table#tabelaspec caption span {
	display: block;
	/*display block faz com que se desconecte do texto, é mostrado como um bloco flutuante */
	float:right;
	color: #000;
	font-size: 9pt;
	margin-top:10px;
}
aside#lateral {
	display:block;
	width: 385px;
	float:right;
	margin-right:15px;
	background-color:#ddd;
	margin-top:10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
}

aside#lateral h2 {
	background-color: #606060;
	font-size: 15pt;
	color: #fff;
	padding: 10px;
}
footer#rodape {
	clear:both;
	border-top: 1px solid red;
	height:80px;
	text-align:center;
}
footer#rodape p {
	text-align:center;
}
footer#rodape a {
	color:green;
	text-decoration:none;
}
footer#rodape a:hover {
	color:#000;
	background-color:#eee;
	text-decoration: underline;
}

/* A hostnet disponibiliza centenas de tutorias CV 20 10:45, WIKI.HOSTNET.COM.BR  */



section#area {
	border: none;
	margin:12px;

}


.lateralDireita {
	display:block;
	width:360px;
	height:310px;
	float:right;
	font-size:13px;
	margin-bottom:40px;
	padding-right:35px;
}

.lateralDireita img {
	display:block;
	margin:auto;
	width:360px;
}

.lateralDireita h1 {
	background-color:#606060;
	font-size:18px;
	color:#fff;
	margin-bottom:0px;
	padding:5px;
	font-family:Arial;
}

.lateralDireita h3 {
	background-color:#fff;
	margin-top:0px;
	font-size:16px;
	color:#606060;
}

/*Formatação das imagens com soon*/

.menuSoon {
	width:610px;
	height:405px;
	list-style:none;
	margin:auto;
	padding:0px;

}

.menuSoon li {
	display:block;
	width:200px;
	height:200px;
	background-color:#eee;
	list-style:none;
	float:left;
	border:1px solid #000;
}

.cse {
	margin-bottom:2px;
	margin-right:2px;
}
.csc {
	margin-bottom:2px;
}
.csd {
	margin-bottom:2px;
	margin-left:2px;
}
.cie {
	margin-right:2px;
}


.cid {
	margin-left:2px;
}



















